@model List<FinalProjectMvc.ViewModels.Admin.Catalog.CatalogVM>

<section id="interactive-process">
    <div class="interactive interactive-process-layout" style="margin-top: 91px;">
        <div class="interactive-interactive-process-wrapper interactive-wrapper">
            <div class="interactive-con">
                <div class="interactive-con-inner interactive-grid">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="interactive-process-item">
                            <div class="interactive-inner-process @(i == 0 ? "activate" : "")" data-index="@i">
                                <div class="process-content-wap">
                                    <div class="process-inner-content-wap">
                                        <p>@Model[i].Description</p>
                                        <h2><a>@Model[i].Title</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="interactive-process-list-image">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="interactive-process-image img-@i @(i == 0 ? "show" : "")"
                             style="background-image: url('/uploads/catalogs/@Model[i].Img');">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
