@model IEnumerable<BlogVM>

@foreach (var blog in Model)
{
    <div class="story-card">
        <img src="~/uploads/blogs/@blog.Img" alt="@blog.Title" />
        <div class="story-info">
            <p class="date">@blog.Date.ToString("MMMM dd, yyyy")</p>
            <h3>@blog.Title</h3>
            <p>@(blog.Description.Length > 100 ? blog.Description.Substring(0, 100) + "..." : blog.Description)</p>
            <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blog.Id">Read More</a>
        </div>
    </div>
}
