@model FinalProjectMvc.ViewModels.Admin.AboutUs.AboutUsVM

@if (Model != null && Model.AboutUsItems != null && Model.AboutUsItems.Any())
{
    <section id="about-section">
        <div class="about-us">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-us-content">
                            <div class="section-title">
                                <h3 class="wow fadeInUp">@Model.Title</h3>
                                <h2 class="text-anime-style-3" data-cursor="-opaque">
                                    @Model.Subtitle
                                </h2>
                            </div>

                            <div class="about-body-list">
                                @foreach (var item in Model.AboutUsItems)
                                {
                                    <div class="about-body-item wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="icon-box">
                                            <img src="~/@item.IconUrl" alt="">
                                        </div>
                                        <div class="about-body-list-content">
                                            <h3>@item.Title</h3>
                                            <p>
                                                @item.Description
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="about-us-footer wow fadeInUp" data-wow-delay="0.6s">
                                <div class="about-btn">
                                    <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" asp-controller="About" asp-action="Index" 
                                       class="btn-default">More about us</a>
                                </div>

                                <div class="video-play-button">
                                    <a href="~/uploads/videos/@Model.VideoUrl"
                                       class="popup-video">
                                        <i class="fa-solid fa-play"></i>
                                    </a>

                                </div>
                                <p>
                                   @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-us-image">
                            <div class="about-us-img" style="opacity: 0.5 !important;">
                                <figure class="image-anime">
                                    <img src="~/uploads/images/@Model.ImageUrl" alt="">
                                </figure>
                            </div>
                            @if (Model.OpeningHours != null && Model.OpeningHours.Any())
                            {
                                <div class="opening-time-box">
                                    <div class="icon-box">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>

                                    <div class="opening-time-content">
                                        <h3>@Model.OpeningTimeTitle</h3>
                                        <ul>
                                            @foreach (var opening in Model.OpeningHours)
                                            {
                                                <li>
                                                    <span>Weekdays</span>
                                                    <span>@opening.DayRange</span>
                                                </li>
                                                <li>
                                                    <span>The Weekend</span>
                                                    <span>@opening.TimeRange</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
