﻿@using FinalProjectMvc.ViewModels.Admin.Pricing
@model PricingVM

<section id="our-pricing">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3 class="wow fadeInUp">Our pricing</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">
                        Savor every moment, without the premium price
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="our-pricing-box tab-content" id="pricingtab">
                    <div class="our-support-nav wow fadeInUp" data-wow-delay="0.2s">
                        <ul class="nav nav-tabs" id="mvTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="btn-default btn-highlighted active" id="all-tab"
                                        data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab"
                                        aria-selected="true">
                                    All Menu
                                </button>
                            </li>



                            @foreach (var category in Model.Categories)
                            {
                                var tabId = category.Name.ToLower().Replace(" ", "-");
                                <li class="nav-item" role="presentation">
                                    <button class="btn-default btn-highlighted" id="@tabId-tab"
                                            data-bs-toggle="tab" data-bs-target="#@tabId" type="button" role="tab"
                                            aria-selected="false">
                                        @category.Name
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="pricing-boxes tab-pane fade show active" id="all" role="tabpanel">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div style="opacity: 0.5 !important;margin-bottom: 105px;" class="pricing-image">
                                    <figure class="image-anime">
                                        <img src="~/assets/images/home/all.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                @foreach (var category in Model.Categories)
                                {
                                    var lastProduct = Model.Products
                                    .Where(p => p.CategoryId == category.Id)
                                    .OrderByDescending(p => p.Id)
                                    .FirstOrDefault();

                                    if (lastProduct != null)
                                    {
                                        <div style="margin-top: 29px;" class="menu-list-item" data-has-size="@(lastProduct.Sizes != null && lastProduct.Sizes.Count > 0 ? "true" : "false")">
                                            <div class="menu-list-image">
                                                <figure>
                                                    <img src="~/uploads/products/@lastProduct.Image" alt="@lastProduct.Name">
                                                </figure>
                                            </div>
                                            <div class="menu-item-body">
                                                <div class="menu-item-title">
                                                    <h3>@lastProduct.Name</h3>
                                                    <hr>
                                                    <span>$@lastProduct.Price</span>
                                                </div>

                                                <div class="menu-item-content">
                                                    <p style="opacity: 0.5;">
                                                        @lastProduct.Ingredients
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @foreach (var category in Model.Categories)
                    {
                        var tabId = category.Name.ToLower().Replace(" ", "-");
                        <div class="pricing-boxes tab-pane fade" id="@tabId" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div style="opacity: 0.5 !important;margin-bottom: 105px;" class="pricing-image">
                                        <figure class="image-anime">
                                            <img src="~/uploads/category/@category.Image" alt="@category.Name">
                                        </figure>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    @foreach (var product in Model.Products
                                   .Where(p => p.CategoryId == category.Id)
                                   .OrderByDescending(p => p.Id)
                                   .Take(5))
                                    {
                                        <div class="our-menu-list">
                                            <div class="menu-list-item " data-has-size="@(product.Sizes != null && product.Sizes.Count > 0 ? "true" : "false")">
                                                <div class="menu-list-image">
                                                    <figure>
                                                        <img src="~/uploads/products/@product.Image" alt="@product.Name">
                                                    </figure>
                                                </div>
                                                <div class="menu-item-body">
                                                    <div class="menu-item-title">
                                                        <h3>@product.Name</h3>
                                                        <hr>
                                                        <span>$@product.Price</span>
                                                    </div>

                                                    <div class="menu-item-content">
                                                        <p style="opacity: 0.5;">
                                                            @product.Ingredients
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.2s">
                        <p>craving the perfect brew? <a asp-controller="Menu" asp-action="Index">Check out our menu!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
