@model OurStoryVM

<section id="our-story">
    <div class="our-story" style="margin-top: -6pc;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="our-story-image">
                        <figure class="image-anime">
                            <img src="~/@Model.Image" alt="Our Story Image" />
                        </figure>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="our-story-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our story</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">@Model.SectionTitle</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">@Model.SectionDescription</p>
                        </div>

                        <div class="story-list">
                            @foreach (var item in Model.StoryItems.TakeLast(3))
                            {
                                <div class="story-item wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="icon-box">
                                        <img src="~/uploads/storyicons/@item.IconImg" alt="@item.Title" />
                                    </div>
                                    <div class="story-item-content">
                                        <h3>@item.Title</h3>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="our-story-btn wow fadeInUp" data-wow-delay="1s">
                            <a style="box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8);" href="/reservation" class="btn-default">book a table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
